<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ado_net_mssql_server.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=127.0.0.1,12345;Initial Catalog=NORTHWND;Persist Security Info=True;User ID=sa;Password=a1b2c3d4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>